/* Dashboard.css */

.dashboardD-container {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
  }
  
  .dashboardD-container h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .dashboardD-container p {
    color: #555;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .dashboardD-content {
    margin-top: 20px;
  }
  
  .dashboardD-content h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .dashboardD-content p {
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .dashboardD-content ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .dashboardD-content ul li {
    margin-bottom: 5px;
  }
  
  