.breadcrum{
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    color: #5e5e5e;
    font-size: 1rem;
    font-weight: 600;
    margin: 1.25rem 10.625rem;
    text-transform: capitalize;
    justify-content: left;
}
